In [2]:
import pandas as pd

In [13]:
data = pd.read_csv('../data/bbc_news_train.csv')
data

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [14]:
# print the unique values in the category column and the counts of each
print(data['Category'].value_counts())

Category
sport            346
business         336
politics         274
entertainment    273
tech             261
Name: count, dtype: int64

In [7]:
data2 = pd.read_csv('../data/bbc-text.csv')

In [4]:
# print the unique values in the category column and the counts of each
print(data2['category'].value_counts())

category
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64

In [8]:
#Rename the category column to Category
data2.rename(columns={'category': 'Category','text': 'Text'}, inplace=True)

In [10]:
# add a article_id column to the data
data2['ArticleId'] = range(1, len(data2) + 1)

In [11]:
#Save the data to a new csv file
data2.to_csv('../data/bbc-text.csv', index=False)

In [15]:
#concat the two dataframes
data = pd.concat([data, data2], ignore_index=True)

In [16]:
print(data['Category'].value_counts())

Category
sport            857
business         846
politics         691
tech             662
entertainment    659
Name: count, dtype: int64

In [17]:
#Save the data to a new csv file
data.to_csv('../data/bbc_news_train.csv', index=False)

In [1]:
data2[data2['Category'] == 'sport']

NameError: name 'data2' is not defined