In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/outsourced/news_article_categorization.csv')
df

                                                   Text       Category
0     Elon Musk, Amber Heard Something's Fishy On Wr...  Entertainment
1     Scientists are developing more than 100 corona...        science
2     Jared Fogle Shut Down By Judge In Bid for Earl...  Entertainment
3     The agency had come under fire from members of...         Health
4     Credit...Jim Wilson/The New York TimesJune 30,...       Politics
...                                                 ...            ...
3717  Credit...University of North CarolinaFeb. 3, 2...         Sports
3718  The vice president will preside on Wednesday w...       Politics
3719  Credit...Todd Heisler/The New York TimesNov. 1...         Health
3720  DealBook|I.P.O.s in U.S. End Weak Year With an...       Business
3721  An H.I.V. infection increases the odds of dyin...         Health

[3722 rows x 2 columns]

In [28]:
df['Category'].value_counts()

Category
entertainment    485
business         461
sport            454
politics         442
tech             356
Name: count, dtype: int64

In [11]:
# remove world, science, Health
df = df[df['Category'] != 'World']
df = df[df['Category'] != 'science']
df = df[df['Category'] != 'Health']

In [27]:

df['Category'] = df['Category'].replace('Sport', 'sport')
df['Category'] = df['Category'].replace('Business', 'business')
df['Category'] = df['Category'].replace('Entertainment', 'entertainment')
df['Category'] = df['Category'].replace('Tech', 'tech')
df['Category'] = df['Category'].replace('Politics', 'politics')

In [19]:
df2 = pd.read_csv('../data/bbc_news_train.csv')
df2['Category'].value_counts()

Category
sport            857
business         846
politics         691
tech             662
entertainment    659
Name: count, dtype: int64

In [29]:
#concat the two dataframes
df3 = pd.concat([df, df2], ignore_index=True)
df3['Category'].value_counts()

Category
sport            1311
business         1307
entertainment    1144
politics         1133
tech             1018
Name: count, dtype: int64

In [31]:
#drop articleId
df3 = df3.drop(columns=['ArticleId'], axis=1)

In [32]:
#export the new dataframe
df3.to_csv('../data/bbc_news_train.csv', index=False)