In [1]:
import pandas as pd

In [14]:
import csv


file_path = '../data/outsourced/news-article-categories.csv'
categories = ['BUSINESS', 'ENTERTAINMENT', 'POLITICS', 'SPORTS', 'TECH']

filtered_lines = []
with open(file_path, 'r', newline='', encoding='utf-8') as file:
    reader = csv.reader(file, delimiter=',', quotechar='"')
    for row in reader:
        # Check if the first element of the row is a category
        if row[0] in categories:
            filtered_lines.append(row)

# Create a DataFrame from the filtered lines
df = pd.DataFrame(filtered_lines, columns=['category', 'title', 'body'])

print(df.head())

# Save the DataFrame to a CSV file
df.to_csv('../data/outsourced/news-article-categories-filtered.csv', index=False)

   category                                              title  \
0  BUSINESS  U.S. Launches Auto Import Probe, China Vows To...
1  BUSINESS  Starbucks Says Anyone Can Now Sit In Its Cafes...
2  BUSINESS  Seattle Passes Controversial New Tax On City's...
3  BUSINESS  Uber Ends Forced Arbitration In Individual Cas...
4  BUSINESS      How Uber Silences Women After Sexual Assaults

                                                body
0  WASHINGTON (Reuters) - The Donald Trump admini...
1  Starbucks announced a new policy of inclusivit...
2  SEATTLE (Reuters) - Seattleâ€™s city council on ...
3  Uber will no longer force individual victims o...
4  Sophia started using Uber soon after it was fo...

In [16]:
df['category'].value_counts()

category
BUSINESS         501
ENTERTAINMENT    501
POLITICS         501
SPORTS           501
TECH             501
Name: count, dtype: int64

In [17]:
df = df[df['category'].isin(['POLITICS', 'ENTERTAINMENT', 'COMEDY', 'BUSINESS', 'TECH'])]

In [18]:
#rename the categories
rename_dict = {
    'POLITICS': 'politics',
    'ENTERTAINMENT': 'entertainment',
    'COMEDY': 'entertainment',
    'BUSINESS': 'business',
    'TECH': 'tech'
}
df['category'] = df['category'].replace(rename_dict)

In [19]:
df['category'].value_counts()

category
business         501
entertainment    501
politics         501
tech             501
Name: count, dtype: int64

In [22]:
df.columns

Index(['Category', 'title', 'body'], dtype='object')

In [21]:
df = df.rename(columns={'category': 'Category'})

In [23]:
df = df.rename(columns={'body': 'Text'})

In [24]:
#drop title column
df = df.drop(columns=['title'])

In [25]:
train_df = pd.read_csv('../data/bbc_news_train.csv')
train_df['Category'].value_counts()

Category
sport            1311
business         1307
entertainment    1144
politics         1133
tech             1018
Name: count, dtype: int64

In [ ]:
train_df.info()

In [29]:
train_df.columns

Index(['Text', 'Category'], dtype='object')

In [27]:
df.columns

Index(['Category', 'Text'], dtype='object')

In [28]:
# concatenate the two dataframes
train_df = pd.concat([train_df, df], ignore_index=True)

In [ ]:
train_df['Category'].value_counts()

In [ ]:
train_df.columns

In [ ]:
train_df.shape

In [30]:
train_df = train_df.dropna(subset=['Category'])

In [31]:
# save the new dataframe
train_df.to_csv('../data/bbc_news_train_2.csv', index=False)

In [32]:
train_df.head()

                                                Text       Category
0  Elon Musk, Amber Heard Something's Fishy On Wr...  entertainment
1  Jared Fogle Shut Down By Judge In Bid for Earl...  entertainment
2  Credit...Jim Wilson/The New York TimesJune 30,...       politics
3  Before Coming Out, a Hard Time Growing UpVideo...          sport
4  Fortnites parent company, Epic Games, had brok...           tech

In [33]:
new_df = pd.read_csv('../data/bbc_news_train_2.csv')
new_df.head()

                                                Text       Category
0  Elon Musk, Amber Heard Something's Fishy On Wr...  entertainment
1  Jared Fogle Shut Down By Judge In Bid for Earl...  entertainment
2  Credit...Jim Wilson/The New York TimesJune 30,...       politics
3  Before Coming Out, a Hard Time Growing UpVideo...          sport
4  Fortnites parent company, Epic Games, had brok...           tech