In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/bbc_news_train.csv')
data

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
3710,2221,cars pull down us retail figures us retail sal...,business
3711,2222,kilroy unveils immigration policy ex-chatshow ...,politics
3712,2223,rem announce new glasgow concert us band rem h...,entertainment
3713,2224,how political squabbles snowball it s become c...,politics
3714,2225,souness delight at euro progress boss graeme s...,sport

In [3]:
# print the unique values in the category column and the counts of each
print(data['Category'].value_counts())

Category
sport            857
business         846
politics         691
tech             662
entertainment    659
Name: count, dtype: int64

In [4]:
data2 = pd.read_csv('../data/bbc-text.csv')

In [6]:
# print the unique values in the category column and the counts of each
print(data2['Category'].value_counts())

Category
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64

In [ ]:
#Rename the category column to Category
#data2.rename(columns={'category': 'Category','text': 'Text'}, inplace=True)

In [7]:
# add a article_id column to the data
data2['ArticleId'] = range(1, len(data2) + 1)

In [8]:
#Save the data to a new csv file
data2.to_csv('../data/bbc-text.csv', index=False)

In [9]:
#concat the two dataframes
data = pd.concat([data, data2], ignore_index=True)

In [10]:
print(data['Category'].value_counts())

Category
sport            1368
business         1356
politics         1108
tech             1063
entertainment    1045
Name: count, dtype: int64

In [11]:
#Save the data to a new csv file
data.to_csv('../data/bbc_news_train.csv', index=False)

In [12]:
data2[data2['Category'] == 'sport']

     Category                                               Text  ArticleId
2       sport  tigers wary of farrell  gamble  leicester say ...          3
3       sport  yeading face newcastle in fa cup premiership s...          4
7       sport  henman hopes ended in dubai third seed tim hen...          8
8       sport  wilkinson fit to face edinburgh england captai...          9
14      sport  moya emotional after davis cup win carlos moya...         15
...       ...                                                ...        ...
2190    sport  newry to fight cup exit in courts newry city a...       2191
2195    sport  owen delighted with real display michael owen ...       2196
2209    sport  time to get tough on friendlies  for an intern...       2210
2218    sport  davies favours gloucester future wales hooker ...       2219
2224    sport  souness delight at euro progress boss graeme s...       2225

[511 rows x 3 columns]