In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/bbc_news_train.csv')
data

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
3710,2221,cars pull down us retail figures us retail sal...,business
3711,2222,kilroy unveils immigration policy ex-chatshow ...,politics
3712,2223,rem announce new glasgow concert us band rem h...,entertainment
3713,2224,how political squabbles snowball it s become c...,politics
3714,2225,souness delight at euro progress boss graeme s...,sport

In [3]:
# print the unique values in the category column and the counts of each
print(data['Category'].value_counts())

Category
sport            857
business         846
politics         691
tech             662
entertainment    659
Name: count, dtype: int64